@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url(./components/_list-item.scss);
body {
  background-color: black;
  height: 100%;
  width: 100vw;
}

body .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

body .App #background-img {
  position: absolute;
  background-image: url("../../public/images/bg-desktop-dark.jpg");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  z-index: 0;
}

body .App header {
  width: calc(50% + 20px);
  margin-top: 30px;
  font-size: 2rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

@media (max-width: 700px) {
  body .App header {
    width: 75%;
  }
}

body .App #input {
  height: 50px;
  width: calc(50% + 10px);
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #4d5066;
  z-index: 1;
}

@media (max-width: 700px) {
  body .App #input {
    width: 90%;
  }
}

body .App #todo-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  background-color: black;
  width: calc(50% + 20px);
  border-radius: 5px;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  overflow: hidden;
}

@media (max-width: 700px) {
  body .App #todo-list-container {
    width: 90%;
  }
  body .App #todo-list-container #list-item:last-of-type {
    border-radius: 0 0 5px 5px;
  }
}

body .App #todo-list-container .characters {
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 700px) {
  body .App #todo-list-container .characters {
    border-radius: 5px;
    overflow: hidden;
  }
}

body .App #todo-list-container .characters li {
  width: 100%;
}

body .App #todo-list-container #list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: #25273c;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #4d5066;
}

@media (max-width: 700px) {
  body .App #todo-list-container #list-info {
    margin-top: 20px;
    height: 30px;
  }
}

body .App #todo-list-container #list-info #completion-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App #todo-list-container #list-info #completion-status .list-option {
  margin: 10px;
}

body .App #todo-list-container #list-info #completion-status .list-option:hover {
  color: white;
  cursor: pointer;
}

body .App #todo-list-container #list-info #completion-status #list-all {
  color: cyan;
}

body .App #todo-list-container #list-info #completion-status #list-all:hover {
  color: #e4e5f1;
}

body .App #todo-list-container #list-info #completion-status #list-active {
  color: #4d5066;
}

body .App #todo-list-container #list-info #completion-status #list-active:hover {
  color: #e4e5f1;
}

body .App #todo-list-container #list-info #completion-status #list-completed {
  color: #4d5066;
}

body .App #todo-list-container #list-info #completion-status #list-completed:hover {
  color: #e4e5f1;
}

body .App #todo-list-container #list-info #clear-button {
  color: #4d5066;
  border: none;
  outline: none;
  background-color: transparent;
}

body .App #todo-list-container #list-info #clear-button:hover {
  color: #e4e5f1;
  cursor: pointer;
}

body .App .drag {
  text-align: center;
  color: #4d5066;
}

@media (max-width: 500px) {
  header {
    width: 100vw;
  }
  #input {
    width: 95vw;
  }
  #todo-list-container {
    width: 95vw;
  }
}
/*# sourceMappingURL=App.css.map */