@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url(./components/_list-item.scss);

$darkModeListColor: hsl(233, 14%, 35%);
$darkModeHover: hsl(236, 33%, 92%);

body {
  background-color: black;
  height: 100%;
  width: 100%;

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;

    #background-img {
      position: absolute;
      background-image: url("../../public/images/bg-desktop-dark.jpg");
      background-size: 100% 100%;
      background-position: top;
      background-repeat: no-repeat;
      height: 300px;
      width: 100%;
      z-index: 0;
    }

    header {
      width: calc(50% + 20px);
      margin-top: 30px;
      font-size: 2rem;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
    }

    #input {
      height: 50px;
      width: calc(50% + 10px);
      margin-bottom: 15px;
      border-radius: 5px;
      outline: none;
      border: none;
      padding-left: 10px;
      align-self: center;
      justify-self: center;
      background-color: $darkModeListColor;
      z-index: 1;
    }

    #todo-list-container {
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: center;
      z-index: 0;
      background-color: $darkModeListColor;
      width: calc(50% + 20px);
      border-radius: 5px;
      transition: height 1s ease-in-out;

      :first-child {
        border-radius: 5px 5px 0 0;
      }

      .characters {
        height: 100%;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          width: 100%;
        }
      }

      #list-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: hsl(235, 24%, 19%);
        font-size: 0.8rem;
        border-radius: 0 0 5px 5px;
        color: $darkModeListColor;

        #completion-status {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // margin: 5px;

          .list-option {
            margin: 10px;
            &:hover {
              color: white;
              cursor: pointer;
            }
          }

          #list-all {
            color: cyan;
            &:hover {
              color: $darkModeHover;
            }
          }

          #list-active {
            color: $darkModeListColor;
            &:hover {
              color: $darkModeHover;
            }
          }

          #list-completed {
            color: $darkModeListColor;
            &:hover {
              color: $darkModeHover;
            }
          }
        }

        #clear-button {
          color: $darkModeListColor;
          border: none;
          outline: none;
          background-color: transparent;
          &:hover {
            color: $darkModeHover;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  header {
    width: 100%;
  }
  #input {
    width: 95%;
  }
  #todo-list-container {
    width: 95%;
  }
}
