@import "../helpers/variables";

#input-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 52px;
  width: calc(50% + 20px);
  margin-bottom: 20px;
  background-color: hsl(235, 24%, 19%);

  transition: color 500ms ease-in-out;

  // padding: 0 10px;
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: 700px) {
    width: 90%;
  }

  #outer-circle {
    display: flex;
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    height: $circleDiameter;
    width: $circleDiameter;
    border-radius: 50%;
    z-index: 5;
    margin-left: 10px;

    #circle {
      // position: absolute;
      justify-content: center;
      align-items: center;
      height: calc($circleDiameter - 1px);
      width: calc($circleDiameter - 1px);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: hsl(235, 24%, 19%);
      // margin: 15px;
      border-radius: 50%;
      z-index: 6;
      pointer-events: none;
    }
  }

  #input {
    height: 50px;
    width: 88%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding-left: 10px;
    justify-self: flex-end;
    background-color: hsl(235, 24%, 19%);
    z-index: 1;
    color: $lightGrayishBlue;

    &::placeholder {
      color: $lightGrayishBlue;
      opacity: 1;
    }
  }
}
