@import "../helpers/variables";

.list-item-dark-active {
  background-color: $darkItem !important;
  border-bottom: 2px solid $darkListItemBorder;
  color: $darkItemText1;
  text-decoration: initial;
}

.list-item-dark-complete {
  background-color: $darkItem !important;
  border-bottom: 2px solid $darkListItemBorder;
  color: $darkModeListColor;
  text-decoration: line-through;
}

.list-item-light-active {
  background-color: $lightItemBackground !important;
  border-bottom: 2px solid $lightListItemBorder;
  color: $lightActiveText;
  text-decoration: initial;
}

.list-item-light-complete {
  background-color: $lightItemBackground !important;
  border-bottom: 2px solid $lightListItemBorder;
  color: $lightListInfo;
  text-decoration: line-through;
}

#list-item:last {
  border-bottom: none;
}

#list-item {
  z-index: 4;
  height: $listItemHeight;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

  @media (max-width: 700px) {
  }

  &:hover #crossIcon {
    visibility: visible;
    pointer-events: initial;
  }

  #outer-circle {
    display: flex;
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    height: $circleDiameter;
    width: $circleDiameter;
    border-radius: 50%;
    z-index: 5;
    &:focus {
      border: 2px solid red;              
    }
    &:focus-within #crossIcon {
      visibility: visible;
    }

    #circle {
      justify-content: center;
      align-items: center;
      height: calc($circleDiameter - 1px);
      width: calc($circleDiameter - 1px);
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      z-index: 6;
      pointer-events: none;

      .check-hidden {
        visibility: hidden;
      }

      .check-visible {
        visibility: visible;
      }

      #check {
        pointer-events: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  #list-item-text {
    width: 80%;

    @media (max-width: 700px) {
      font-size: 14px;
    }
  }

  #crossIcon {
    width: 6%;
    justify-self: flex-end;
    visibility: hidden;
    pointer-events: none;
    &:focus {
      visibility: visible;
      border: 2px solid black;
    }
  }
}
