@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  background-color: black;
  height: 100%;
  width: 100%;
}

body .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

body .App #background-img {
  position: absolute;
  background-image: url("../public/images/bg-desktop-dark.jpg");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  z-index: 0;
}

body .App header {
  width: calc(50% + 20px);
  margin-top: 30px;
  font-size: 2rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

body .App #input {
  height: 50px;
  width: calc(50% + 10px);
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: darkgrey;
  z-index: 1;
}

body .App #todo-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  background-color: white;
  width: 50%;
  border-radius: 5px;
}

body .App #todo-list-container :first-child {
  border-radius: 5px 5px 0 0;
}

body .App #todo-list-container #list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100% + 20px);
  background-color: white;
  font-size: 0.8rem;
  border-radius: 0 0 5px 5px;
}

body .App #todo-list-container #list-info #completion-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App #todo-list-container #list-info #completion-status p {
  margin: 5px;
}

body .App #todo-list-container #list-info #clear-button {
  border: none;
  outline: none;
  background-color: transparent;
}

body .App #todo-list-container #list-item {
  height: 30px;
  width: 100%;
  padding: 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: aliceblue;
  border-bottom: 2px solid darkblue;
}

body .App #todo-list-container #list-item #circle {
  height: 30px;
  width: 30px;
  border: 1px solid blue;
  border-radius: 50%;
}

body .App #todo-list-container #list-item p {
  margin-left: 25px;
}
/*# sourceMappingURL=App.css.map */